<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianqingzao.yequxiaoquan.dao.MessageDao">    <!-- SQL操作接口 -->

    <select id="findByPage" resultMap="messageMap">
        <!-- 用等值连接方式实现 无悬浮组的一对一查询 -->
        SELECT message.*,customer.nickname as customerNick FROM message,customer where message.customerId=customer.id
            <if test="search !=null and search !=''">
                AND (customer.nickname LIKE concat('%', #{search}, '%') OR customer.id LIKE concat('%', #{search}, '%'))
            </if>
            <if test="status !=null and status !=''">
                AND message.status=#{status}
            </if>
        ORDER BY time DESC
    </select>
    <!-- 跨多表，用级联单独查询 -->
    <resultMap type="Message" id="messageMap">
        <!-- 级联必须指定主键 -->
        <id column="id" property="id"/>
        <collection property="replyList" column="id" select="getRepliesByMessageId"/>
    </resultMap>
    <!-- 用等值连接实现 无悬浮组的一对一查询(userId定后，user_role表与role表 一对一) -->
    <select id="getRepliesByMessageId" resultType="Reply">
        SELECT reply.*,user.name as operator FROM reply,user WHERE reply.messageId=#{messageId} AND reply.operatorId=user.id  ORDER BY time DESC
    </select>

    <!-- useGeneratedKeys表示插入后，将数据库ID回填给入参， keyProperty指明回填的POJO字段 -->
    <insert id="reply" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reply(messageId, operatorId, detail)
        VALUES (#{messageId},#{operatorId},#{detail})
    </insert>
    <update id="changeStatus">
        UPDATE message SET status=#{status} WHERE id=#{id}
    </update>
</mapper>