<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianqingzao.yequxiaoquan.dao.OperatorDao">    <!-- SQL操作接口 -->

    <select id="findByPage" resultMap="operatorMap">
        <!-- 用左外连接方式实现 有悬浮组的一对一查询 -->
        SELECT operator.*,creator.name as creator FROM user operator LEFT JOIN user creator ON
        operator.creatorId=creator.id
    </select>

    <!-- 跨多表，用级联单独查询 -->
    <resultMap type="Operator" id="operatorMap">
        <!-- 级联必须指定主键 -->
        <id column="id" property="id"/>
        <collection property="roles" column="id" select="com.xianqingzao.yequxiaoquan.dao.UserDao.getRolesByUserId"/>
    </resultMap>

    <!-- 多参数，入参是List -->
    <update id="changeStatus">
        update user set status=#{status} where id in
        <foreach item="userId" index="index" collection="idList" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>

    <update id="resetPwd">
        update user set password=#{password} where id=#{id}
    </update>

    <update id="alter">
        update user set username=#{username} where id=#{id}
    </update>
    <delete id="cleanRole">
        delete from user_role where userId=#{userId}
    </delete>
    <insert id="addRoleList">
        insert into user_role(userId, roleId) values
        <foreach item="roleId" index="index" collection="roleIds" separator=",">
            (#{userId} , #{roleId})
        </foreach>
    </insert >

</mapper>