<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianqingzao.yequxiaoquan.dao.ReportDao">    <!-- SQL操作接口 -->

    <select id="findByPage" resultMap="reportMap">
        <!-- 字段重复时，排在前面的优先 -->
        SELECT merchant.id as merchantId, report.*,customer.nickname as customerName, merchant.merchantName
        <if test="category == 'refund'">
            ,product.id as productId, product.name as productName
        </if>
        FROM report
        LEFT JOIN customer ON customer.id=report.customerId
        <if test="category == 'accuse'">
            LEFT JOIN merchant ON merchant.id=report.merchantId
        </if>
        <if test="category == 'refund'">
            LEFT JOIN `order` o ON o.id=report.orderId
            LEFT JOIN product ON product.id=o.productId
            LEFT JOIN merchant ON merchant.id=product.merchantId
        </if>
        WHERE report.category=#{category}
        <if test="search !=null and search !=''">
            AND (report.customerId=#{search} OR report.merchantId=#{search} OR report.orderId=#{search})
        </if>
        <if test="status !=null and status !=''">
            AND report.status=#{status}
        </if>
        ORDER BY time DESC
    </select>
    <!-- 跨多表，用级联单独查询 -->
    <resultMap type="Report" id="reportMap">
        <!-- 级联必须指定主键 -->
        <id column="id" property="id"/>
        <collection property="recordList" column="id" select="getRecordsByReportId"/>
    </resultMap>
    <!-- 用等值连接实现 无悬浮组的一对一查询 -->
    <select id="getRecordsByReportId" resultType="Record">
        SELECT record.*,user.name as operator FROM record,user WHERE record.reportId=#{reportId} AND record.operatorId=user.id  ORDER BY time DESC
    </select>

    <select id="findById" resultType="Report">
        SELECT * FROM report WHERE id=#{id}
    </select>

    <!-- useGeneratedKeys表示插入后，将数据库ID回填给入参， keyProperty指明回填的POJO字段 -->
    <insert id="record" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO record(operatorId, reportId, detail, type, reportStatus)
        VALUES (#{operatorId},#{reportId},#{detail},#{type},#{reportStatus})
    </insert>
    <update id="changeStatus">
        UPDATE report SET status=#{status} WHERE id=#{id}
    </update>
</mapper>