<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianqingzao.yequxiaoquan.dao.UserDao">    <!-- SQL操作接口 -->

    <select id="getUserByName" parameterType="String" resultType="User">
        SELECT * FROM user WHERE username=#{username}
    </select>
    <!-- 用等值连接实现 无悬浮组的一对一查询 -->
    <select id="getRolesByUserId" parameterType="String" resultType="Role">
        SELECT role.id,role.name AS id,name FROM role,user_role WHERE user_role.userId=#{userId} AND user_role.roleId=role.id
    </select>
    <select id="getAuthoritiesByRoles" parameterType="List" resultType="String">
        SELECT DISTINCT authority.name FROM authority,role_authority WHERE authority.id=role_authority.authorityId
        AND role_authority.roleId IN
        <foreach item="role" index="index" collection="list" open="(" separator="," close=")">
            #{role.id}
        </foreach>
    </select>
</mapper>